<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plugName</key>
		<string>com.qingniu.ydplugin</string>
		<key>versionCode</key>
		<string>1</string>
		<key>md5</key>
		<string>d7e33795dded1b16b92aaa902b35c1c0</string>
		<key>bundleInfo</key>
		<string></string>
		<key>name</key>
		<string>云康宝体脂秤</string>
		<key>introduction</key>
		<string>健康减肥专业工具</string>
		<key>downloadUrl</key>
		<string>http://7q5axs.com1.z0.glb.clouddn.com/modules/Fcom_qingniu_ydplugin_1</string>
		<key>detailUrl</key>
		<string>http://circle.51yund.com/hardware/index?pkg_name=com.qingniu.ydplugin&amp;version_code=1</string>
		<key>status</key>
		<true/>
		<key>frameworkName</key>
		<string>qingniu</string>
		<key>frameworkSize</key>
		<integer>0</integer>
		<key>supportClientVersionCode</key>
		<string>0</string>
		<key>lastSupportClientVersionCode</key>
		<string>0</string>
		<key>firstSupportUpdateVersionCode</key>
		<string>0</string>
		<key>iconUrl</key>
		<string>http://7q5axs.com1.z0.glb.clouddn.com/modules/Fhardware_plug_yolanda_scale_1.png</string>
		<key>rootVCName</key>
		<string>ThirdPartViewController</string>
		<key>ctime</key>
		<date>2016-06-29T09:34:08Z</date>
		<key>uptime</key>
		<date>2016-06-29T09:34:16Z</date>
		<key>thirdPartId</key>
		<integer>1</integer>
		<key>yInitClassName</key>
		<string>ThirdPartSDK</string>
		<key>yInitClassSelector</key>
		<string>registerApp:</string>
		<key>yInitClassSelectorVarList</key>
		<array>
			<string>test</string>
		</array>
	</dict>
</array>
</plist>
